*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303633;
}

header {
  width: 100dvw;
  height: 100px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.display-button,
.add-button,
.compact-button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
  border: 1px black solid;
  background-color: teal;
  color: whitesmoke;
}

.add-button,
.compact-button {
  position: absolute;
  margin-right: 120px;
  margin-top: 200px;
}

.compact-button {
  margin-left: 220px;
}

main {
  min-height: calc(100dvh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #303633;
}

.form-popup {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 94dvh;
  width: 100dvw;
  align-items: center;
  justify-content: start;
  background-color: #303633;

  opacity: 0.98;
}

.form-container {
  border: 1px black solid;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  margin-top: 200px;
  height: 300px;
  width: 500px;
  background-color: #eeeeee;
  border-radius: 10px;
}

label {
  font-size: 1.2rem;
}

.form-container > h1 {
  grid-column: 1 / 5;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-container > .title-wrap {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container > .author-wrap {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container > .genre-wrap {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container > .pages-wrap {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container > .read-wrap {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.button-cancel {
  position: absolute;
  justify-self: end;
  margin-right: 8px;
  margin-top: 8px;
}

.form-container input {
  height: 25px;
  width: 200px;
}

.read-wrap > .read {
  width: 60px;
  height: 30px;
}

.pages-wrap > .pages {
  width: 100px;
}

.form-container > .submit {
  grid-column: 2 / 4;
  align-self: center;
  justify-self: center;
  margin-bottom: 8px;
}

.book-list {
  display: grid;
  row-gap: 8px;
  column-gap: 8px;
  grid-template: 250px / repeat(auto-fill, 300px);
  grid-auto-rows: 250px;
  grid-auto-columns: 300px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: calc(90dvw - 20px);
  height: max(auto, calc(100% - 40px));
  /* border: 1px black solid; */
  -webkit-box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  margin-top: 100px;
  transition: grid ease-in-out 0.75s;
}

.active-book {
  height: 250px;
  border: 1px black solid;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  border-radius: 8px;
  -webkit-box-shadow: 4px 17px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 17px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 17px 20px -6px rgba(0, 0, 0, 0.75);
  background-color: #eeeeee;
  transition: width ease-in-out 0.5s, height ease-in-out 0.75s;
}

.data-div0 {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.data-div1 {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.data-div2 {
  grid-column: 3 / 5;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.data-div3 {
  grid-column: 2 / 4;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.data-div4 {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  align-self: center;
  justify-self: center;

  height: 60%;
  width: 100px;
  border-radius: 20px;
  border: 1px black solid;
}

.data-div4:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-button {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  height: 60%;
  width: 50%;
  align-self: center;
  justify-self: center;
  background-color: #303633;
  border-radius: 10px;
  border: 1px solid grey;
}

footer {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer > .links {
  width: 100%;
  height: 100%;
  background-color: #303633;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  gap: 16px;
}

.link-1 img {
  height: 30px;
  width: 30px;
}

.link-2 img {
  height: 35px;
  width: 35px;

  border-radius: 50%;
}

.links a {
  object-fit: fill;
}
